.advantages {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $commands-background-color;
    border-radius: 4px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
      max-width: 354px;
      width: calc((100% - 2 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
      width: calc((100% - 6 * 15px) / 4);
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 10;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $title-color;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-text {
    margin-bottom: 0;
    margin-top: 0;
    color: $text-color;
  }
}

/*--advantages-icons--*/
.advantages-icons {
  width: 70px;
  height: 70px;
}
