.contacts-nav {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 64px;

  & .contacts-nav-tel {
    margin-bottom: 32px;
  }

  li:not(:last-child) {
    // margin-bottom: 32px;
  }

  &-paragraph {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: color 250ms $timing-function;
    color: $text-color;
    fill: currentColor;
  }
  &-paragraph:hover,
  &-paragraph:focus {
    color: $hover-color;
  }

  &-paragraph-tel {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $hover-color;
  }

  &-paragraph-mail {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.menu-conteiner {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 48px 40px;
  width: 100%;
  height: 796px;

  background-color: $white-color;
  outline: 1px solid tomato;

  &.is-open {
    display: block;
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &-contacts-list {
    display: flex;
  }

  &-contacts-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &-contacts-site {
    font-weight: 500;
    font-size: 18px;
    line-height: 1, 22;
    letter-spacing: 0.02em;
    color: $hover-color;
  }
}
