.contacts-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  & .contacts-nav-tel {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  li:not(:last-child) {
    // margin-bottom: 32px;
  }

  &-paragraph {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: color 250ms $timing-function;
    color: $text-color;
    fill: currentColor;
  }
  &-paragraph:hover,
  &-paragraph:focus {
    color: $hover-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-mail {
    margin-right: 30px;
  }
}

.contacts-nav-paragraph-mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.contacts-nav-paragraph-tel {
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $hover-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-conteiner {
  background-color: $white-color;
  width: 100%;
  // max-width: 400px;
  height: 100%;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 48px 40px;
    height: 796px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &.is-open {
    display: block;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      align-items: center;
    }
  }

  &-contacts-list {
    @media screen and (max-width: 767px) {
      display: inline-flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &-contacts-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &-contacts-site {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $hover-color;
  }
}
