.header {
  border-bottom: 1px solid $header-border;
}

.menu {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
