.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &-item:first-child {
    margin-top: 4px;
  }

  &-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .link {
    display: inline-block;
    // padding: 32px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color 250ms $timing-function;

    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }

  .link:hover,
  .link:focus,
  .link-visited {
    color: $hover-color;
  }
}

.menu {
  display: flex;
  height: 60px;
  padding: 16px 0;
  width: 100%;

  // @media screen and (max-widht: 767px) {
  // }

  // @media screen and (min-widht: 768px) {
  //   display: flex;
  // }
}
