.footer-box-contacts {
  // margin-bottom: 60px;

  .address {
    margin-bottom: 8px;
    font-style: normal;
    color: $white-color;
  }

  li:not(:last-child) {
    margin-bottom: 8px;
    display: inline-block;
  }

  &-links {
    color: $footer-contacts-color;
    transition: color 250ms $timing-function;
  }

  &-links:hover,
  &-links:focus {
    color: $hover-color;
  }
}
