.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  &-links {
    // margin-right: 93px;
  }

  &-box {
    // display: flex;
    // align-items: baseline;
  }

  &-links-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
}
