.footer {
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  @media screen and (min-width: 768px) {
    height: 463px;
  }

  @media screen and (min-width: 1200px) {
    height: 252px;
  }

  &-links {
    @media screen and (min-width: 768px) {
      margin-bottom: 102px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 93px;
      text-align: left;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }

  &-links-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
}
