$hover-color: #2196f3;
$text-color: #757575;
$black-color: #000000;
$title-color: #212121;
$white-color: #ffffff;
$banner-background-color: #c4c4c4;
$footer-background-color: #2f303a;
$commands-background-color: #f5f4fa;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$portfolio-item-border-color: #eeeeee;
$icons-color: #afb1b8;
$main-family: 'Roboto', sans-serif;
$logo-faily: 'Raleway', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$header-border: #ececec;
$border-form-color: rgba(255, 255, 255, 0.3);
